/*-- scss:defaults --*/

// Custom colours and variables
$primary: #033C5A;
$accent2: #bbbcbc;
$accent: #AA9868;
$subtle-accent: #003da5;

@import 'https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0, 400;0,700;1,400;1,700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

$font-family: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$font-family-alternative: "Roboto", sans-serif;
$link-color: $accent;
$hover-color: lighten($link-color, 40%);

$fonts: (
  'text': (
    'name': 'Atkinson Hyperlegible'
  ),
  'title': (
    'name': 'Atkinson Hyperlegible',
  )
);

/*-- scss:rules --*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family;
  font-weight: bold;
  color: $primary;
}

.hw {
  font-size: 1.2em;
  font-weight: bold;
  border-color: $accent;
  border-left-style: solid;
  border-left-width: .25rem;
  padding-left: .5rem;
  // margin-left: .25rem;
}

.hw>*:first-child {
  margin: 0;
  padding: 10px;
  color: $secondary;
  background-color: $accent;
  font-size: 1.3em;
  font-weight: bold;
  display: flex;
  position: relative;
}

div.questions {
  border-color: $accent;
  border-radius: .5rem;
  border-width: .25rem;
  border-style: solid;
  padding: .75rem;
  margin: .25rem;
  font-size: 1em;
}

div.thm {
  border-color: $primary ;
  border-radius: .5rem;
  border-width: .25rem;
  border-style: solid;
  padding: .75rem;
  margin: .25rem;
  ;
  font-size: 0.75em;

}

.small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.bold {
  font-weight: bold;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    color: $hover-color;
    border-bottom: 1px solid $hover-color;
  }

}

code {
  font-family: $font-family-monospace;
}

.instructions {
  margin: 1em 0;
  border: 2px solid $secondary;
  border-left: 10px solid $primary;
  background-color: white;
  padding: 0;
  ;
  border-radius: 10px;
}

.instructions>*:first-child {
  margin: 0;
  padding: 10px;
  color: $primary;
  background-color: $secondary;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  position: relative;
}

.instructions>*:not(:first-child) {

  padding: 10px;
  color: black;
  font-size: 1em;
  background-color: lighten($secondary, 40%);

}
