/*-- scss:defaults --*/

// Custom colours and variables
$primary: #041e42;
$accent2: #bbbcbc;
$accent: #862633;
$subtle-accent: #003da5;

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap'); // fonts
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

$font-family-sans-serif: "Atkinson Hyperlegible", sans-serif;
$font-family-monospace: "Source Code Pro", monospace;
$presentation-heading-color: $primary !default;

$body-color: gray !default;
$link-color: $accent;
$code-color: $accent;
$code-block-font-size: 0.7em;

$presentation-heading-font: "Roboto", sans-serif !default;
$presentation-heading-color: $primary !default;
$presentation-heading-font-weight: 400;


$presentation-h2-font-size: 1.4em !default;
$presentation-font-size-root: 28px !default;

/*-- scss:rules --*/

.inverse {
  .slide-background-content {
    background-color: $primary;
  }

  h1 {
    color: $accent2;
  }
}

.question .presentation-callout-tip {
  $callout-color-note: $accent;
}

// title and headings


details>summary {
  font-size: 0.75em;
}

#title-slide .subtitle {
  color: #464a53;
  font-weight: bold;
  text-align: left;
}

#title-slide .title {
  text-align: left;
  color: #464a53;
}

#title-slide .author {
  text-align: center;
}

#title-slide .institute {
  text-align: center;
  padding-bottom: 200px;
}

.accent-color {
  color: $accent;
}

.b--accent {
  border-color: $accent !important;
}

.small {
  font-size: 0.75em;
}

.smallest {
  font-size: 0.5em;
}

.large {
  font-size: 1.5em;
}

.medium {
  font-size: 0.9em;
}

.red {
  color: red
}

.center-align {
  text-align: center;
}

.reveal .hand {
  font-family: 'Gochi Hand', cursive;
  font-size: 1.2em
}

.reveal .slide .task {
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-left: solid 5px #F1DE67;
  background-color: #F1DE6750;
}

div.questions {
  border-color: $accent;
  border-radius: .5rem;
  border-width: .25rem;
  border-style: solid;
  padding: .75rem;
  margin: .25rem;
  ;
  font-size: 0.75em;
}

div.thm {
  border-color: $primary ;
  border-radius: .5rem;
  border-width: .25rem;
  border-style: solid;
  padding: .75rem;
  margin: .25rem;
  ;
  font-size: 0.75em;

}

//.ba .b--accent .br3 .bw2 .pa3 .ma2